<div class="card card-login card-hidden">
  <div class="card-header card-header-rose text-center">
    <h4 class="card-title" style="font-weight: bold; font-size: 25px;">Log in</h4>
    
  </div>
  <div class="card-body ">
    <p class="card-description text-center"></p>

  </div>
  <div class="card-footer justify-content-center">
    <!-- <a href="" (click)="signUp()" class="btn btn-rose btn-link btn-lg">Lets Go</a> -->
    <button mat-button class="btn btn-rose btn-link btn-lg" >Lets Go</button>
  </div>

  
</div>
      
      